#mainsectioncss {
  background: rgb(105, 110, 129);
  background: radial-gradient(
    circle,
    rgba(105, 110, 129, 1) 0%,
    rgba(64, 62, 75, 1) 55%,
    rgba(8, 4, 5, 1) 100%
  );
}

#mainsectionphoto {
  background-image: url("/jarethwithoutbackground.png");
}
